<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Công ty VTB
    </title>
    <link rel="icon" href="/images/favicon.jpg" type="image/x-icon">

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/custom.css" rel="stylesheet" type="text/css">
</head>

<body class="home ">
    <div id="wapper_wapper">

        <%- partial('./header') %>

        <%-body -%>
        <!-- /#main.main -->
        <%- partial('./bottom') %>
        <!-- /#content-colleft -->
    </div>
    <!-- /#wapper_wapper -->
    <%- partial('./footer') %>

    <script src="/js/index.js"></script>

    <script src="/js/custom.js"></script>

</body>

</html>