<div class="cotb" id="sidebar">
    <div class="group_tin clearfix">
        <div class="group_tin_tieude clearfix">
            <div class="htitle clearfix">
                <span class="img">
                <i class="fa fa fa-group"></i>
            </span><span class="tentieude">Hỗ trợ trực tuyến</span></div>
            <!-- ./htitle -->
        </div>
        <!-- ./group_tin_tieude -->
        <div class="group_tin_noidung clearfix">
            <div class="httt-container">
                <div class="httt-top">
                    <div class="httt-top-right">
                        <input id="dienthoai" value="0989.966.617" disabled="">
                    </div>
                </div>
                <div class="httt-bot">
                    <p style="text-align: center;"><strong>Văn Phòng Công Ty:</strong></p>

                    <p style="text-align: center;"><span style="color:#000099;"></span><span style="font-size:20px;"><span
                            style="font-family:Times New Roman,Times,serif;"><span
                                style="color:#ff0000;"><strong><span class="fa fa-phone"
                                        style="color:rgb(255, 0, 0);"></span>&nbsp;0989 966 617
                        </strong>
                        </span>
                        </span>
                        </span>
                    </p>

                </div>
            </div>
        </div>
        <!-- /.group_tin_noidung -->
    </div>

    <div class="group_tin clearfix">
        <div class="group_tin_tieude clearfix">
            <div class="htitle clearfix">
                <span class="img">
                <i class="fa fa fa-thumbs-o-up"></i>
            </span>
                <span class="tentieude">HƯỚNG DẪN SỬ DỤNG</span></div>
            <!-- ./htitle -->
        </div>
        <!-- ./group_tin_tieude -->
        <div class="group_tin_noidung clearfix">
            <ul class="ul_noidung_templates">
                <li class="itemTPL">
                    <div class="img">
                        <a href="/ve-sinh-may-lanh-bang-chat-diet-khuan-phong-chong-virus-corona" target="" title="Vệ sinh máy lạnh bằng chất diệt khuẩn phòng chống virus corona"><img src="/uploads/noidung/thumb/ve-sinh-may-lanh-bang-chat-diet-khuan-phong-chong-virus-corona-0-170.jpg" alt="Vệ sinh máy lạnh bằng chất diệt khuẩn phòng chống virus corona" title="Vệ sinh máy lạnh bằng chất diệt khuẩn phòng chống virus corona"
                                onerror="xulyloi(this);"></a>
                    </div>
                    <p class="tieude">
                        <a href="/ve-sinh-may-lanh-bang-chat-diet-khuan-phong-chong-virus-corona" target="" title="Vệ sinh máy lạnh bằng chất diệt khuẩn phòng chống virus corona">Vệ
                        sinh máy lạnh bằng chất diệt khuẩn phòng chống virus corona</a></p>
                    <div class="clear"></div>
                </li>
                <li class="itemTPL">
                    <div class="img">
                        <a href="/vi-sao-lo-vi-song-bi-nhiem-dien-ben-ngoai" target="" title="Vì sao lò vi sóng bị nhiễm điện bên ngoài"><img src="/uploads/noidung/thumb/lo_vi_song_bi_ro_dien.jpg" alt="Vì sao lò vi sóng bị nhiễm điện bên ngoài" title="Vì sao lò vi sóng bị nhiễm điện bên ngoài" onerror="xulyloi(this);"></a>
                    </div>
                    <p class="tieude">
                        <a href="/vi-sao-lo-vi-song-bi-nhiem-dien-ben-ngoai" target="" title="Vì sao lò vi sóng bị nhiễm điện bên ngoài">Vì sao lò vi sóng bị
                        nhiễm điện bên ngoài</a></p>
                    <div class="clear"></div>
                </li>
                <li class="itemTPL">
                    <div class="img">
                        <a href="/long-may-giat-khong-quay-nguyen-nhan-va-cach-xu-ly" target="" title="Lồng máy giặt không quay nguyên nhân và cách xử lý"><img src="/uploads/noidung/thumb/may_giat_khong_quay_duoc.jpg" alt="Lồng máy giặt không quay nguyên nhân và cách xử lý" title="Lồng máy giặt không quay nguyên nhân và cách xử lý" onerror="xulyloi(this);"></a>
                    </div>
                    <p class="tieude">
                        <a href="/long-may-giat-khong-quay-nguyen-nhan-va-cach-xu-ly" target="" title="Lồng máy giặt không quay nguyên nhân và cách xử lý">Lồng máy giặt
                        không quay nguyên nhân và cách xử lý</a></p>
                    <div class="clear"></div>
                </li>
                <li class="itemTPL">
                    <div class="img">
                        <a href="/nhung-kien-thuc-quan-trong-can-biet-ve-may-lanh" target="" title="Những kiến thức quan trọng cần biết về máy lạnh"><img src="/uploads/noidung/thumb/kien_thuc_quan_trong_ve_may_lanh.jpg" alt="Những kiến thức quan trọng cần biết về máy lạnh" title="Những kiến thức quan trọng cần biết về máy lạnh" onerror="xulyloi(this);"></a>
                    </div>
                    <p class="tieude">
                        <a href="/nhung-kien-thuc-quan-trong-can-biet-ve-may-lanh" target="" title="Những kiến thức quan trọng cần biết về máy lạnh">Những kiến thức
                        quan trọng cần biết về máy lạnh</a></p>
                    <div class="clear"></div>
                </li>
                <li class="itemTPL">
                    <div class="img">
                        <a href="/nguyen-nhan-block-tu-lanh-bi-hu-hong" target="" title="Nguyên nhân block tủ lạnh bị hư hỏng"><img src="/uploads/noidung/thumb/tu_lanh_hu_block.jpg" alt="Nguyên nhân block tủ lạnh bị hư hỏng" title="Nguyên nhân block tủ lạnh bị hư hỏng" onerror="xulyloi(this);"></a>
                    </div>
                    <p class="tieude">
                        <a href="/nguyen-nhan-block-tu-lanh-bi-hu-hong" target="" title="Nguyên nhân block tủ lạnh bị hư hỏng">Nguyên nhân block tủ lạnh
                        bị hư hỏng</a></p>
                    <div class="clear"></div>
                </li>
                <li class="itemTPL">
                    <div class="img">
                        <a href="/loi-ich-cua-viec-tam-may-nuoc-nong-cho-nguoi-gia" target="" title="Lợi ích của việc tắm máy nước nóng cho người già"><img src="/uploads/noidung/thumb/tam_nuoc_nong_cho_nguoi_gia.jpg" alt="Lợi ích của việc tắm máy nước nóng cho người già" title="Lợi ích của việc tắm máy nước nóng cho người già" onerror="xulyloi(this);"></a>
                    </div>
                    <p class="tieude">
                        <a href="/loi-ich-cua-viec-tam-may-nuoc-nong-cho-nguoi-gia" target="" title="Lợi ích của việc tắm máy nước nóng cho người già">Lợi ích của
                        việc tắm máy nước nóng cho người già</a></p>
                    <div class="clear"></div>
                </li>
                <li class="itemTPL">
                    <div class="img">
                        <a href="/tieu-chi-lua-chon-ong-dong-truoc-khi-lap-may-lanh" target="" title="Tiêu chí lựa chọn ống đồng trước khi lắp máy lạnh"><img src="/uploads/noidung/thumb/lua_chon_ong_dong_may_lanh_dung_tieu_chuan_ky_thuat.jpg" alt="Tiêu chí lựa chọn ống đồng trước khi lắp máy lạnh" title="Tiêu chí lựa chọn ống đồng trước khi lắp máy lạnh" onerror="xulyloi(this);"></a>
                    </div>
                    <p class="tieude">
                        <a href="/tieu-chi-lua-chon-ong-dong-truoc-khi-lap-may-lanh" target="" title="Tiêu chí lựa chọn ống đồng trước khi lắp máy lạnh">Tiêu chí lựa
                        chọn ống đồng trước khi lắp máy lạnh</a></p>
                    <div class="clear"></div>
                </li>
                <li class="itemTPL">
                    <div class="img">
                        <a href="/lam-gi-khi-tu-lanh-bi-chay-nuoc-tran-ra-ngoai" target="" title="Làm gì khi tủ lạnh bị chảy nước tràn ra ngoài"><img src="/uploads/noidung/thumb/tu_lanh_bi_chay_nuoc.png" alt="Làm gì khi tủ lạnh bị chảy nước tràn ra ngoài" title="Làm gì khi tủ lạnh bị chảy nước tràn ra ngoài" onerror="xulyloi(this);"></a>
                    </div>
                    <p class="tieude">
                        <a href="/lam-gi-khi-tu-lanh-bi-chay-nuoc-tran-ra-ngoai" target="" title="Làm gì khi tủ lạnh bị chảy nước tràn ra ngoài">Làm gì khi tủ lạnh
                        bị chảy nước tràn ra ngoài</a></p>
                    <div class="clear"></div>
                </li>
                <li class="itemTPL">
                    <div class="img">
                        <a href="/co-nen-mua-may-lanh-di-dong-hay-khong" target="" title="Có nên mua máy lạnh di động hay không?"><img src="/uploads/noidung/thumb/khong_nen_mua_may_lanh_di_dong.jpg" alt="Có nên mua máy lạnh di động hay không?" title="Có nên mua máy lạnh di động hay không?" onerror="xulyloi(this);"></a>
                    </div>
                    <p class="tieude">
                        <a href="/co-nen-mua-may-lanh-di-dong-hay-khong" target="" title="Có nên mua máy lạnh di động hay không?">Có nên mua máy lạnh di
                        động hay không?</a></p>
                    <div class="clear"></div>
                </li>
                <li class="itemTPL">
                    <div class="img">
                        <a href="/tai-sao-may-giat-giat-khong-sach-quan-ao" target="" title="Tại sao máy giặt giặt không sạch quần áo"><img src="/uploads/noidung/thumb/may_giat_khong_sach.jpg" alt="Tại sao máy giặt giặt không sạch quần áo" title="Tại sao máy giặt giặt không sạch quần áo" onerror="xulyloi(this);"></a>
                    </div>
                    <p class="tieude">
                        <a href="/tai-sao-may-giat-giat-khong-sach-quan-ao" target="" title="Tại sao máy giặt giặt không sạch quần áo">Tại sao máy giặt giặt
                        không sạch quần áo</a></p>
                    <div class="clear"></div>
                </li>
                <li class="itemTPL">
                    <div class="img">
                        <a href="/nhung-mon-an-nau-bang-lo-vi-song-ngon-hon-nau-thuong" target="" title="Những món ăn nấu bằng lò vi sóng ngon hơn nấu thường"><img src="/uploads/noidung/thumb/nau_canh_bang_lo_vi_song.jpg" alt="Những món ăn nấu bằng lò vi sóng ngon hơn nấu thường" title="Những món ăn nấu bằng lò vi sóng ngon hơn nấu thường" onerror="xulyloi(this);"></a>
                    </div>
                    <p class="tieude">
                        <a href="/nhung-mon-an-nau-bang-lo-vi-song-ngon-hon-nau-thuong" target="" title="Những món ăn nấu bằng lò vi sóng ngon hơn nấu thường">Những món
                        ăn nấu bằng lò vi sóng ngon hơn nấu thường</a></p>
                    <div class="clear"></div>
                </li>
                <li class="itemTPL">
                    <div class="img">
                        <a href="/bao-quan-dan-nong-may-lanh-nhu-the-nao" target="" title="Bảo quản dàn nóng máy lạnh như thế nào"><img src="/uploads/noidung/thumb/dan_nong_may_lanh.jpg" alt="Bảo quản dàn nóng máy lạnh như thế nào" title="Bảo quản dàn nóng máy lạnh như thế nào" onerror="xulyloi(this);"></a>
                    </div>
                    <p class="tieude">
                        <a href="/bao-quan-dan-nong-may-lanh-nhu-the-nao" target="" title="Bảo quản dàn nóng máy lạnh như thế nào">Bảo quản dàn nóng máy
                        lạnh như thế nào</a></p>
                    <div class="clear"></div>
                </li>
                <li class="itemTPL">
                    <div class="img">
                        <a href="/vi-sao-may-nuoc-bi-tac-duong-nuoc" target="" title="Vì sao  máy nước bị tắc đường nước"><img src="/uploads/noidung/thumb/may_nuoc_nong_bi_hu.jpg" alt="Vì sao  máy nước bị tắc đường nước" title="Vì sao  máy nước bị tắc đường nước" onerror="xulyloi(this);"></a>
                    </div>
                    <p class="tieude">
                        <a href="/vi-sao-may-nuoc-bi-tac-duong-nuoc" target="" title="Vì sao  máy nước bị tắc đường nước">Vì sao máy nước bị tắc đường
                        nước</a></p>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
        <!-- /.group_tin_noidung -->
    </div>
</div>