<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; VTB company <%= new Date().getFullYear() %> </div>
            <div>
               <p>Design by TNQ</p>
            </div>
        </div>
    </div>
</footer>